# Ignore folders
images/
.ignore/
container-networking-project/images/
container-networking-project/.ignore/

# Ignore specific markdown
Container-Network-Project.md

# Ignore OS files
.DS_Store
Thumbs.db
